@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.mainWrapper {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 20px;
    background: #ffffff;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.button {
    align-self: center;
    margin-bottom: 20px;
}

.closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.pass {
	cursor: pointer;
	position: absolute;
	color: #aaa;
	right: 0px;
	width: 30px;
    bottom: 6px;
}

.subText {
	text-align: center;
	margin-bottom: 20px;
	color: var(--primaryColor);
}
@media (max-width: 480px) {
    .closeButton {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 5px;
    }
    .mainWrapper {
        justify-content: unset;
        align-items: unset;
    }

    .wrapper {
        width: 100vw;
        border-radius: 0;
        position: fixed;
        bottom: 0;
    }
}
