.mainWrapper {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    background-color: white;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-height: 80%;
    box-sizing: content-box;
    overflow-y: scroll;
    margin: 20px;
    width: 50%;
}
.title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.heading {
    margin-top: -20px;
}

.inputAlignment {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.inputAlignment p {
    align-self: center;
}

.inputAlignment select {
    display: flex;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border-color: var(--primaryColor);
}

.inputCustom {
    width: 50%;
}

.date {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    border-color: var(--primaryColor);
}

.button {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
@media (max-width: 480px) {
    .mainWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }

    .inputAlignment {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .inputAlignment select {
        display: flex;
        width: 50%;
        padding: 10px;
    }
    .button {
        justify-content: center;
    }
}
