
.title {
    margin-left: 20px;
}

.content {
    margin-left: 30px;
}


/*Table*/


.table{
    width: 100%;
	border-collapse: collapse;
    text-align: center;
}
.table thead {
    background-color: #efefef;
	border-radius: 10px; 
}


.table > thead tr {
	text-align: center;
	padding: 20px;
}

.table > thead th {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #e7e7e7;
}

.table > tbody td {
	text-align: left;
	padding: 20px;
	margin-bottom: 20px;
}
.table > tbody tr {
	border-bottom: 1px solid rgb(238, 238, 238);
	border-top: 1px solid rgb(238, 238, 238);
}

.table td {
	border-left: 1px solid rgb(238, 238, 238);
	border-right: 1px solid rgb(238, 238, 238);
}
.table td:first-child {
	border-left: none;
}
.table td:last-child {
	border-right: none;
}
.table>tbody tr:hover {
    background-color: #a3b9e7;
}
.table{
    margin-left:20px;
}

.table>tbody td {
    text-align: left;
}

.table>thead th {
    background-color: #e7e7e7;
}