.wrapper {
    display: flex;
    justify-content: center;
}

.borderAlignment {
    border: 1px solid var(--primaryColor);
    padding: 10px;
}

.heading {
    font-size: 18px;
    font-weight: 600;
}

.selectCareer {
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: 1px solid var(--primaryColor);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.selectAlignment {
    text-align: center;
    padding: 10px;
}

.inputAlignment {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.inputAlignment p {
    align-self: center;
    padding-bottom: 3px;
}

.inputCustom {
    width: 420px;
}

.filterbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pass {
    cursor: pointer;
    position: absolute;
    color: #aaa;
    margin-top: 8px;
    width: 30px;
    right: 0px;
}

.passRequirement {
    font-size: 10px;
    color: red;
}

@media (max-width: 768px) {
    .selectCareer {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .selectCareer {
        width: 100%;
        background-color: white;
    }
}